section.book-animation {

  & div {
   width: max-content;
  }

  & div:nth-child(1){
    position: absolute;
    left: -23rem;

    

   & img {
     position:relative;
      left: 5rem;
            top: 3rem;

   }


  }


  

  
  & header {
    margin: 0 auto;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  }

  .pin-01{
   
    position: absolute;
    animation: float 4s ease-in-out infinite;
       width:max-content;
    height: 5rem;

    & img {
   
      position: absolute;
      left: 5rem;
    }
  }


    .pin-02{
     
   position: absolute;
    animation: float 4s ease-in-out infinite;
       width:max-content;
      left: -19rem;
    top: 21rem;

    & img:nth-child(2) {
   
        position: absolute;
        left: 2rem;
        top: 4rem;
    }

       & img:nth-child(3) {
        position: absolute;
        left: 5rem;
        top: 8rem;
    }
  }


      .pin-03{
     
      
  position: absolute;
    animation: float 4s ease-in-out infinite;
       width:max-content;
    height: 6rem;
    right: -6rem;
    bottom: -10rem;

    & img:nth-child(2) {
   
        position: absolute;
        left: 6rem;
        bottom: 6rem;
    }

       & img:nth-child(3) {
        position: absolute;
        left: 5rem;
        top: 8rem;
    }
  }

  .pin-04 {
    z-index: 2;
position: absolute;
    left: -7rem;
    top: 3rem;
    
  }

  .pin-05 {
position: absolute;
right: -23rem;
  
  }

    .pin-06 {

position: relative;
top: -4rem;
left: 15rem;
  
  }

  .book-animation-img {
    display: grid;
    position: relative;
  }
  